{% extends 'base.html' %} {% block title %} all notes {% endblock %} {% block
main %} {% if notes %} {% for i in range(notes|length) %}
<form action="" , method="get">
	<input
		type="checkbox"
		name="checkbox{{i+1}}"
		id="checkbox{{i+1}}"
		value="{{i+1}}"
	/>
	<label for="checkbox{{i+1}}"
		><b>{{notes[i].theme}} </b><em>{{notes[i].text}}</em
		><a href="/delete_note/{{i+1}}">delete</a> </label
	><br />

	{% endfor %} {% endif %}
	<input type="submit" value="submit" />
</form>
{% endblock %}
